.left-side{
    width: 400px;
    height: 100vh;
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.board{
    width: 246px;
    height: 88px;
    font-weight: 600;
    font-size: 70px;
    margin: 0px;
}